page-setting {
  background : url(/assets/imgs/test.jpg)   bottom   ;
 
  ion-content{
    background : url(/assets/imgs/test.jpg)   bottom   ;
 
   }
   .container{
    background : url(/assets/imgs/test.jpg)   bottom   ;
 
   } 
}
